
/* Global css styles start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--Neutral-Silver, #f5f7fa);
}

img {
  display: block;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.unstyled-list {
  list-style: none;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Global css styles end */

/* header style start */

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 155px;
  height: 21px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__link {
  color: var(--Text-Gray-900, #18191F);
  line-height: 24px; /* 150% */
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.login {
  color: var(--Brand-Primary, #4CAF4F);
}

.singup {
  background: var(--Brand-Primary, #4CAF4F);
  color: var(--Default-White, #FFF);
}

/* header style end */

/* hero section style start */

.hero {
  padding: 96px 0;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.hero__content {
  width: 657px;
}

.hero__title {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 64px;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
  padding-bottom: 16px;
}

.hero__title span {
  color: var(--Brand-Primary, #4CAF4F)
}

.hero__desc {
  color: var(--Neutral-Grey, #717171);
  line-height: 24px; /* 150% */
  padding-bottom: 32px;
}

.hero__register {
  display: flex;
  width: 128px;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Brand-Primary, #4CAF4F);
  color: var(--Neutral-White, #FFF);
  text-align: center;
  line-height: 24px; /* 150% */
}

/* hero section style end */

/* client section style start */

.client {
  padding: 40px 0;
  background-color: #fff;
}

.client__title {
  color: var(--Neutral-D_Grey, #4d4d4d);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  padding-bottom: 8px;
}

.client__desc {
  color: var(--Neutral-Grey, #717171);
  text-align: center;
  line-height: 24px; /* 150% */
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-top: 16px;
}

/* client section style end */


/* community section style start */

.community {
  background: #fff;
}

.community__content {
  width: 542px;
  margin: 0 auto 16px;
}

.community__title {
  color: var(--Neutral-D_Grey, #4D4D4D);
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  margin-bottom: 8px;
}

.community__desc {
  color: var(--Neutral-Grey, #717171);
  text-align: center;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.community__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community__item {
  display: flex;
  width: 299px;
  padding: 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Neutral-White, #FFF);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
}

.community__item-header {
  width: 50px;
  height: 49px;
  margin-bottom: 16px;
  flex-shrink: 0;
  border-radius: 18px 5px 10px 5px;
  background: var(--Tint-T5, #E8F5E9);
}

.community__item-title {
  color: var(--Neutral-D_Grey, #4D4D4D);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  margin-bottom: 8px;
}

.community__item-desc {
  color: var(--Neutral-Grey, #717171);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}